.idea/workspace.xml
out
dependencies
ideaSDK
lib.testData
jdk.testData
lib.testData.zip
jdk.testData.zip
lib/kotlin-runtime.jar
lib/kotlin-reflect.jar
lib/kotlin-runtime-sources.jar
lib/kotlin-test.jar
android-sdk-annotations-adt
